
.dropzone {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .placeholder {
    width: 100%;
    max-width: 500px;
    border-radius: 0.5em;
    border: 1px dashed rgb(155, 155, 155);
    padding: 2em;
    text-align: center;
  }
  
  .placeholder p {
    font-size: 1.2rem;
    color: #999;
  }


.upload-btn {
    margin-top: 2em;
  }
  
  .upload-btn input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .upload-btn label {
    color: #808080;
    border: 0;
    border-radius: 3px;
    transition: ease 0.2s background;
    font-size: 1rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
  }
  
  .upload-btn label:hover {
    background: #2378be;
    color:aliceblue
  }
  
  .upload-btn svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
  }
